@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: url("bg.jpg");
    background-position: top;
    background-size: cover;
   background-clip: border-box;
   
}

.container {
    /* background: rgb(240, 180, 240); */
    max-width: 60%;
    margin: auto;
    padding: 32px;

    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgb(184, 174, 174);
}

.container h1, p {
    text-align: center;
    font-family: "Edu TAS Beginner", cursive;
}

.container .form-container{
    max-width: 80%;
    margin: auto;
    text-align: center;
}


.container .form-container input, textarea {
    width: 100%;
    margin: 7px;
    outline: none;
    padding: 5px;
    border: 1px solid rgb(47, 46, 46);
    border-radius: 5px;
   opacity: 0.9;
    
}

.container .form-container .btn {
    cursor: pointer;
    padding: 10px;
    color: white;
    background: purple;
    border: 2px solid white;
    border-radius: 10px;
}